<div class="sidebar">
    <!-- Sidebar templar will be loaded hear -->
    {{> sidebar }}
</div>
<div class="main-content">
    <!-- Main-content templar will be loaded hear -->
    {{> main-content }}
</div>