<header>
    {{> header headerData }}
</header>
<main class="flex-container">
    <div class="sidebar">
        {{> sidebar sidebarData }}
    </div>
    <div class="main-content">
        {{> main-content mainContentData }}
    </div>
</main>