<ul class="content">
    <li class="content__item">
        <h2 class="title-2_dark">Profile</h2>
        <p class="description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, ipsam
            accusamus, distinctio quia
            esse at repellendus odit quidem alias numquam fuga praesentium animi, facilis magni.
            Illum
            rem
            excepturi laudantium esse.
        </p>
    </li>
    <li class="content__item">
        <h2 class="title-2_dark">Work Experience</h2>
        <ul class="details">
            <li>
                <div class="flex-container">
                    <ul class="details__period">
                        <li>2015</li>
                        <li>2016</li>
                    </ul>
                    <div class="details__title">
                        <h3 class="title-3"> Job position title text </h3>
                        <p class="details__item">Company name</p>
                    </div>

                </div>
                <p class="details__description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, ipsam
                    accusamus, distinctio quia
                    esse at repellendus odit quidem alias numquam fuga praesentium animi, facilis magni.
                    Illum
                    rem
                    excepturi laudantium esse.
                </p>
            </li>
            <li>
                <div class="flex-container">
                    <ul class="details__period">
                        <li>2015</li>
                        <li>2016</li>
                    </ul>
                    <div class="details__title">
                        <h3 class="title-3"> Job position title text </h3>
                        <p class="details__item">Company name</p>
                    </div>
                </div>
                <p class="details__description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, ipsam
                    accusamus, distinctio quia
                    esse at repellendus odit quidem alias numquam fuga praesentium animi, facilis magni.
                    Illum
                    rem
                    excepturi laudantium esse.
                </p>
            </li>
        </ul>
    </li>
</ul>