<ul class="skills">
    <li class="skills__item">
        <h2 class="title-2">Education</h2>
        <ul class="details">
            <li class="details__item">
                2003 to 2009
            </li>
            <li class="details__item_upercase">
                University name
            </li>
            <li class="details__item_upercase">
                Your subject/Degree name
            </li>
        </ul>
        <ul class="details">
            <li class="details__item">
                2003 to 2009
            </li>
            <li class="details__item_upercase">
                University name
            </li>
            <li class="details__item_upercase">
                Your subject/Degree name
            </li>
        </ul>
    </li>
    <li class="skills__item">
        <h2 class="title-2">Pro skills</h2>
        <ul class="details">
            <li class="details__item">JavaScript</li>
            <li class="details__item">Git</li>
            <li class="details__item">Git</li>
            <li class="details__item">Git</li>
        </ul>
    </li>
    <li class="skills__item">
        <h2 class="title-2">Awards</h2>
        <ul class="details">
            <li class="details__item_upercase">JavaScript</li>
            <li class="details__item_upercase">Git</li>
            <li class="details__item_upercase">Git</li>
            <li class="details__item_upercase">Git</li>
        </ul>
    </li>
</ul>