@import "~reset-css";
@import "base/vars";
@import "base/mixins";
@import "base/icons";

@import "header";
@import "avatar";
@import "contacts";
@import "sidebar";

body {
  color: $secondary-color;
  background-color: $main-color;
  font-family: "Roboto Condensed", sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  @include for-size(phone) {
    flex-direction: row;
  }
}

.container {
  background-color: $main-color;
  width: 100%;
  margin: 0;
  @include for-size(desktop-up) {
    margin: 0 auto;
    width: 1000px;
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;
    box-shadow: 0.3125rem 0.3125rem 1.875rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.title-1 {
  @extend .uppercase;
  font-size: $title-1-font-size;
  margin-bottom: 0.3rem;
}

.title-2 {
  @extend .uppercase;
  font-size: $title-3-font-size;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.title-3 {
  @extend .uppercase;
  color: $third-color;
  font-size: $title-3-font-size;
  letter-spacing: 0.25rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
  &::before {
    content: " ";
    background-color: $main-color;
    height: 0.3125rem;
    width: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  &_dark {
    @extend .title-3;
    color: $secondary-color;
    &::before {
      background-color: $secondary-color;
    }
  }
}

.skills {
  padding: 1.75rem;
  @include for-size(phone) {
    padding: 1.75rem 2.56rem;
  }
}

.content {
  @extend .flex-container;
  padding: 1.75rem;
  flex: 1 1 auto;
  justify-content: center;
  flex-direction: column;
}

.details {
  margin-bottom: 2.25rem;
  &__item {
    font-size: $text-font-size;
    margin-bottom: 0.625rem;
    line-height: 1.2;
    &_uppercase {
      @extend .details__item, .uppercase;
    }
  }

  &__period {
    display: inline-block;
    font-size: $text-font-size;
    text-align: center;
    > li {
      background-color: $secondary-color;
      color: $main-color;
      padding: 0.3125rem 0.5rem;
    }
  }

  &__title {
    display: inline-block;
    margin-left: 1rem;
    @include for-size(phone) {
      margin-left: 1.25rem;
    }
  }

  &__description {
    @extend .description;
    border-top-color: $secondary-color;
    border-top-style: solid;
    border-top-width: 0.125rem;
    margin-left: 3.5rem;
    padding-top: 0.5rem;
  }
}

.content__item {
  .description {
    font-size: $text-font-size;
    line-height: 2;
    margin-bottom: 2.5rem;
  }
}
